{% extends "NucleusHubCmsBundle::layout.html.twig" %}
{% block css %}  

{% endblock %}
{% block title %}
    <title>Propiet &middot; Vender / Alquilar (Buscar Propiedad)</title>
{% endblock %}
{% block meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block breadcum %}
    <div class="row">
        {% include 'NucleusHubCmsBundle:Widget:breadcrumb.html.twig' with {'routes': routes} %}
    </div>
{% endblock %}

{% block content %}
<div class="row">
<div class="container">

        <div class="span4">
                <h3>Venta/Alquiler (Buscar Propiedad): </h3>
                <p></p>
                <p>
                  Porque Propiet? Una mejor manera de encontrar su Hogar.
                </p>
        </div>

        <div class="span12">
            <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/image00.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Propiet esta De su lado</h4>
                  Los Agentes asociados Propiet son seleccionados, capacitados y evaluados constantemente. Usted puede calificarlos o dejar comentarios en función a su experiencia. Trabajamos duro para obtener el resultado adecuado para usted y no el trato fácil.
                </div>
              </div>
                
               <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/image01.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"> Mayor cantidad y calidad de propiedades</h4>
                  En Propiet nos preocupamos por asegurar de que usted pueda buscar entre la mayor cantidad de propiedades posibles. Es por eso que hemos generado convenios comerciales con las inmobiliarias más importantes del país para que nos brinden su cartera de inmuebles. El contenido es periódicamente controlado para brindarte la información exacta en el momento exacto.
                  </div>
              </div>  
                
                
               <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/image02.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Mejoras continuas en herramientas tecnologicas</h4>
                  La tecnología juega un rol importante en nuestros días, es por eso que en Propiet nos comprometemos a invertir constantemente en nuevas tecnologías para brindarte la mejor experiencia.
                 </div>
              </div>   
                  
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/image03.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"> Como funciona Propiet? Encuentra tu hogar con Propiet.</h4>
                  Búsqueda de Propiedades
                    En Propiet podras ver los datos más completos y precisos de las propiedades disponibles; incluyendo todos los listados de las inmobiliarias asociadas. La información es actualizada diariamente. 
                    Tambien podras suscribirte a búsquedas, para recibir alertas cuándo nuevas propiedades concuerdan con tus necesidades.
                  </div>
              </div>
                
                <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/image04.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"> Contactese con el Agente Asociado</h4>
                 Hemos seleccionado el mejor agente para mostrate esa propiedad. Todos los agentes son calificados  y cada revisión se publica en nuestra página web.
                Podes conocer un agente Propiet en persona, en una visita o guardia, o mediante el envío de una pregunta online ya sea en los perfiles personales o en las consultas de inmuebles.
                </div>
              </div> 
        
                <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/image05.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Prepárese para la visita.</h4>
                  Nuestro agente Propiet se podrá en contacto con usted para programar una visita.
                    Luego de la visita recibirá un correo para calificar su experiencia.
                    Si el inmueble no es lo que esta buscando, usted puede solicitar al Agente que le genere una búsqueda y un tour de visitas.
                </div>
              </div> 
                
                 <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/image06.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Encuentra la casa de tus sueños y Conseguir el mejor trato.</h4>
                Visita tantas propiedades como sea necesario hasta encontrar tu hogar ideal.
El agente Propiet recibirá tu oferta y negociara el mejor trato para vos. Es necesario suscribir una reserva en las oficinas de Propiet (Sin excepción). Contamos con personal altamente capacitado para realizar las negociaciones en conjunto con el agente.
El Agente estará en cada paso ayudándote con toda la ducmentacion necesaria para realizar la transacción.
Antes de la firma de un contrato o documento, le enviaremos la información electrónicamente para un proceso de cierre más rápido y fácil.

                </div>
              </div> 
              
        </div>
</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}