{% extends "NucleusHubCmsBundle::layout.html.twig" %}
{% block css %}  

{% endblock %}
{% block title %}
    <title>Propiet &middot; Vender/Alquilar</title>
{% endblock %}
{% block meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block breadcum %}
    <div class="row">
        {% include 'NucleusHubCmsBundle:Widget:breadcrumb.html.twig' with {'routes': routes} %}
    </div>
{% endblock %}

{% block content %}
<div class="row">
<div class="container">

        <div class="span4">
                <h3>Vender / Alquilar (Ofrecer inmueble):</h3>
                <p></p>
                <p>
                  ¿Porque Propiet? Una mejor manera de vender su casa.
                </p>
        </div>

        <div class="span12">
            <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/venta/image00.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Propiet esta De su lado</h4>
                  Los Agentes asociados Propiet son seleccionados, capacitados y evaluados constantemente. Usted puede calificarlos o dejar comentarios en función a su experiencia. Trabajamos duro para obtener el resultado adecuado para usted y no el trato fácil.
                </div>
              </div>
                
               <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/venta/image01.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"> Máxima Exposición</h4>
                  Contamos con un gran equipo especialista en Marketing Digital y avanzadas herramientas de comercialización probadas en los mercados más competitivos. Le garantizamos la máxima exposición de su inmueble.

                  </div>
              </div>  
                
                
               <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/venta/image05.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Valor Sin compromiso</h4>
                  Gran tecnología y un modelo de negocio innovador significa que podemos darle un mejor servicio a un menor costo.
                  </div>
              </div>   
                  
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/venta/image06.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"> Como funciona Propiet? Como Propiet vende tu casa.</h4>
                  Rendimiento probado y Asesoramiento Honesto desde el primer momento.
                > Puede estar seguro de que usted está recibiendo el mejor agente Inmobiliario: Cada agente Propiet se revisa, capacita y controla; la información del agente es publicada en nuestro sitio.
                > Utilizamos datos en tiempo real y herramientas On Line para listar su inmueble para la venta o alquiler.
                > Vamos a sugerir lo que debe (y lo que no debe) hacer para ofrecer su casa.
                  </div>
              </div>
                
                
        
                
                <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/venta/image07.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"> Más gente ve su propiedad.</h4>
                  Más gente ve su propiedad.
                    Su propiedad aparece en nuestro sitio web y generamos una campaña on-line para atraer Compradores Reales. 
                    Republicamos su propiedad automáticamente en los principales portales de inmuebles. 
                    Promovemos su propiedad por medio de correos electrónicos, enviando la información a los potenciales compradores que están interesados ​​en esa área.
                    Colocamos carteles en el frente del inmueble y ofrecemos en forma directa a potenciales compradores. 

                  </div>
              </div>  
                
                <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/venta/image08.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Lo sabrás Todo a cada paso</h4>
                  Enviamos un correo electrónico a todos los que ven su propiedad y realizamos un seguimiento de los posibles compradores después de cada visita.
Te asesoramos en cada paso del proceso hasta que se concluya con éxito .
                  </div>
              </div>  
                
                
                <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="{{asset('bundles/nucleushubcms/images/venta/image09.png')}}">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Vas a obtener el mejor precio y mejor atencion</h4>
                    Tenemos la experiencia y la comprensión para negociar el mejor precio de tu propiedad.
Nuestros agentes son seleccionados en función a la satisfacción del cliente y su honestidad; los motivamos para brindar la mejor experiencia y obtener el resultado correcto .
                  </div>
              </div>  
                
               <div class="row">
                   <div class="col-xs-6 col-sm-4">
                       <h3>-</h3>
                       <ul>
                       <li><small>Analisis Comparativo y Plan de Marketing</small></li>
                       <li><small>Capacitacion y evaluacion constante de nuestros Agentes</small></li>
                       <li><small>Sistema de incentivo de Agentes en funcion a tu Satisfaction</small></li>
                       <li><small>Mas informacion Online, Mayor transparencia</small></li>
                       <li><small>Poderosas herramientas tecnologicas para dar soluciones</small></li>
                       <li><small>Asesoramiento con 10 años de experiencia en el sector</small></li>
                       </ul>
                   </div>
                   <div class="col-xs-6 col-sm-4">
                       <h3>Inmobiliaria Tradicional</h3>
                       <ul>
                       <li><small>X</small></li>
                    <li><small>X</small></li>
                     <li><small>X</small></li>
                      <li><small>X</small></li>
                       <li><small>X</small></li> 
                       <li><small>X</small></li>
                       </ul>
                   </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-xs-6 col-sm-4">
                       <h3><strong>PROPIET</strong></h3>
                       <ul>
                       <li><small>SI</small></li>
                    <li><small>SI</small></li>
                     <li><small>SI</small></li>
                      <li><small>SI</small></li>
                       <li><small>SI</small></li> 
                       <li><small>SI</small></li>
                       </ul>
                    </div>
                  </div>
        </div>
</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}