<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span> Listado
        <span class="pull-right label label-info">{% if (hasPosts) %}{{pagination.count}} {% else %}0{% endif %}</span>
    </div>
  	<!-- Panel Showing all the Posts -->
    <div class="panel-body">

    	<!-- Actions Messages -->
    	<div id="successAssign" class="alert alert-success" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>¡Asignadas exitosamente!</strong> Las publicaciónes se añadieron a su lista.
      </div>

      <div id="successStatus" class="alert alert-success" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>¡Guardado exitosamente!</strong> Se ha modificado el estado de la publicación.
      </div>

      <div id="successUnassign" class="alert alert-success" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>¡Removidas exitosamente!</strong> Las publicaciónes se removieron de su lista.
      </div>

      <div id="errorAssign" class="alert alert-danger" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>¡Ha ocurrido un error!</strong> Intente nuevamente m&aacute;s tarde.
      </div>
      <!-- Finish Actions Messages -->

      {% if hasPosts %}
        
          <li id="" class="list-group-item">            
            <div class="row">                        
              <div class="col-md-1"></div>
              <div class="col-md-2"> <h4>Dirección</h4></div>
              <div class="col-md-2" style="width: 13%;"><h4>Operación</h4></div>
              <div class="col-md-2" style="width: 11%;"> <h4>Precio</h4></div>
              <div class="col-md-1" style="width: 13%;"><h4>Superficies</h4></div>
              <div class="col-md-1" style="width: 12%;"><h4>Dorm/Baños</h4></div>
              <div class="col-md-2" style="width: 15%;"><h4>Datos Usuario</h4></div>
              <div class="col-md-1"><h4>Acciones</h4></div>
            </div>
        {% for post in posts %}
        
          <li id="" class="list-group-item" data-id="{{post.id}}">
            
            <div class="row">
                        
              <div class="col-md-1">

                {% if post['post_photos'] %}
                    {% for key,photo in post['post_photos'] %}
                        {% if key==0 %}
                            <img  class="img-responsive" href="{{ url('public_post',{'id':post.id,'title':post.title|replace({' ':'-'})}) }}" src="{{photo['file']}}"/>
                        {% endif %}
                    {% endfor %}
                {% else %}
                     <img  class="img-responsive" href="{{ url('public_post',{'id':post.id,'title':(post.property.subcategory.name ~ '-' ~  post.property.location.address ~ '-' ~ post.city.name ~ '-' ~ post.region.name)|lower|raw|replace({' ':'-'})}) }}" src="{{asset('bundles/nucleushubcms/images/not_img.jpg') }}"/>
                {% endif %}
                
              </div>

              <a href="{{path('public_post',{'id':post.id,'title':post.title})}}">
                <div class="col-md-2">
                  <h5><strong>{{post.property.location.address|upper}}</strong></h5>
                  <h6>{{post.city.name}}</h6>

                </div>
              </a>

              <div class="col-md-2" style="width: 13%;">
                <h5><strong>{{post.property.category.name|upper}}</strong></h5>
                <h6>{{post.operation.operation}}</h6>
              </div>

              <div class="col-xs-1" style="width: 13%;">
                <h5><strong>{% if post.currency.id == 1 %}                                        ARS
                                        {% else %}
                                        USD
                                        {% endif %}
                  {{post.price|number_format(0, ',', '.')}}</strong></h5>
                  <h6>{% if post.property.expenses != 'None' %}
                      Exp. ARS {{post.property.expenses|number_format(0, ',', '.')}}
                      {% endif %}</h6>
              </div>

              <div class="col-md-1" style="width: 11%;">
                <h5><strong>{{post.property.square_meters|number_format(0, ',', '.')}} m<sup>2</sup> Tot.</strong></h5>
                <h6>{% if post.property.total_covered_meters != 'None' %}{{post.property.total_covered_meters|number_format(0, ',', '.')}} m<sup>2</sup> Cub.{% endif %}</h6>
              </div>

              <div class="col-md-1" style="width: 12%;">
                 <h5><strong>{{post.property.quantityBedrooms}} Dorm/ {{post.property.quantityAmbiences}} Amb</strong></h5>
                <h6>{{post.property.quantityBathrooms}} baños</h6>
                
                
              </div>
              {% if post_service.getAgent(post.id).success %}
                {% set post_user = post_service.getAgent(post.id).data %}
              {% endif %}
              <div class="col-md-1" style="width:15%">
                  

                  {% if post_user.role == 'ROLE_COMPANY' %}

                    <span class="glyphicon glyphicon-info-sign"></span>Inmobiliaria
                    <h5>{{ post_user.agency_name }} </h5>
                    <h6 class="phone_{{post.id}}" style="display:none">{{ post_user.phone}}</h6>
                    
                  {% else %}
                    {% if (routes[1]['title'] == 'Red Interna') %}
                      <h5> {{ post_user.agency_name_agent }} </h5>
                      <h6 class="phone_{{post.id}}" style="display:none">{{ post_user.phone_agent }}</h6>
                      
                    {% else  %}
                      {% if post_user.role == 'ROLE_AGENT' %}
                        <span class="glyphicon glyphicon-info-sign"></span>Agente
                      {% elseif post_user.role == 'ROLE_USER' %}
                        <span class="glyphicon glyphicon-info-sign"></span>Usuario
                      {% endif %}
                      
                      <h5>{{ post_user.firstname}} {{post_user.lastname}} </h5>
                      <h6 class="phone_{{post.id}}" style="display:none">{{ post_user.phone}}</h6>
                      
                  
                    {% endif %}
                  {% endif %}

                  <button type="button" class="btn btn-info btn-md show_phone" data-id="{{post.id}}"> Mostrar Telefono</button>
              </div>
              

              <div class="col-md-1">

                <!-- Single button -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Acciones <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a class="show_note" data-id="{{post.id}}">Ver Nota</a></li>
                    {% if post.user.id == user.id or user.roles[0] == "ROLE_ADMIN" %}
                      <li><a href="/admin/publicaciones/editar/{{post.id}}" >Editar</a></li>
                    {% elseif post.agent %}
                      {% if post.agent.id == user.id %}
                        <li><a href="/admin/publicaciones/editar/{{post.id}}" >Editar</a></li>
                      {% endif %}
                    {% endif %}
                    {% if post.status == 3 and post_user.role == 'ROLE_COMPANY' %}
                      <li><a href="#" class="show_agent" data-id="{{post.id}}">Datos Agente</a></li>
                    {% endif %}
                    {% if (routes[1]['title'] == 'De Terceros')%}
                        <li><a class="button-assign" id="{{post.id}}" href="#">
                        Asignar</a></li>
                    {% endif %}
                    {% if routes[1]['title'] != 'De Terceros' and post.agent %}
                      {% if post.agent.id == user.id %}
                        <li><a class="button-unassign" id="{{post.id}}" href="#">
                        Des-Asignar</a></li>
                      {% endif %}
                    {% endif %}
                    {% if user.roles[0] == 'ROLE_ADMIN' or post.user.id == user.id %}
                        <li><a class="button-remove" id="{{post.id}}" href="#">
                        Eliminar</a></li>
                    {% endif %}
                  </ul>
                </div>
            

              </div>

             
            </li>
          
          
        {% endfor %}
        {% if pagination.count !=1 %}                  
            {% embed 'NucleusHubCmsBundle::Widget/pagination_search.html.twig' %}
            {% endembed %}
        {% endif %}
      {% else %}

        <div class="alert alert-danger">
            No se encontraron <strong>publicaciones</strong> de este tipo. Para crear una nueva publiciación, presione el bot&oacute;n <strong>"+ CREAR NUEVA"</strong>.
        </div>
      {% endif %}