
  <div class="panel panel-default">
      <div class="panel-heading">
          <span class="glyphicon glyphicon-list"></span> Listado
          <span class="pull-right label label-info">{% if (hasPosts) %}{{pagination.count}} {% else %}0{% endif %}</span>
      </div>
      <div class="panel-body">
        <div id="successAssign" class="alert alert-success" style="display:none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>¡Asignadas exitosamente!</strong> Las publicaciónes se añadieron a su lista.
        </div>
        <div id="successStatus" class="alert alert-success" style="display:none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>¡Guardado exitosamente!</strong> Se ha modificado el estado de la publicación.
        </div>
        <div id="successUnassign" class="alert alert-success" style="display:none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>¡Removidas exitosamente!</strong> Las publicaciónes se removieron de su lista.
        </div>
        <div id="errorAssign" class="alert alert-danger" style="display:none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>¡Ha ocurrido un error!</strong> Intente nuevamente m&aacute;s tarde.
        </div>
        {% if hasPosts %}
          <ul class="list-group">
          {% if (user.roles[0] == 'ROLE_AGENT') %}
            <form id="form-assign">
          {% endif %}
            {% for post in posts %}
              <li id="post-{{post.id}}" class="list-group-item">
                  <div class="row">
                    <div class="col-md-8">                           
                      <h4><span class="glyphicon glyphicon-link"></span> <a href="{{ url('public_post',{'id':post.id,'title':post.title|replace({' ':'-'})}) }}" target="_blank">
                      {{post.title|length > 64 ? post.title|slice(0, 64) ~ '...' : post.title}}
                      </a></h4>
                      <p class="small">                                   
                          {% if (post.status == 0) %}
                            <span class="label label-danger">Archivada</span>
                            {% elseif (post.status == 1) %}
                            <span class="label label-info">Nueva</span>
                            {% elseif (post.status == 2) %}
                            <span class="label label-warning">Pausada</span>
                            {% elseif (post.status == 3) %}
                            <span class="label label-success">Publicada</span>
                            {% elseif (post.status == 4) %}
                            <span class="label label-success">Finalizada</span>
                          {% endif %}
                         
                          |  <i class="glyphicon glyphicon glyphicon-usd"></i>{{post.price|number_format(0, '.')}} <span class="label label-warning">{% if (post.currency_id == 1) %}ARS${% else %}US${% endif %}</span>
                          |  <i class="glyphicon glyphicon-user"></i> <a href="#">Ver perfil</a> 
                          |  <i class="glyphicon glyphicon-calendar"></i> {{post.creation_date|date("d/m/Y h:i")}}
                      </p>
                    </div>
                    <div class="col-md-4">
                      <div class="btn-toolbar pull-right" role="toolbar">                                  
                          {% if (user.id == post.user_id) %}
                            <div class="btn-group">
                                {% if (post.status == 4) %}
                                  <a href="{{ url('public_post',{'id':post.id,'title':post.title|replace({' ':'-'})}) }}" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Ver</a>
                                {% endif %}
                                {% if (post.status == 0) %}
                                  <a href="{{ url('public_post',{'id':post.id,'title':post.title|replace({' ':'-'})}) }}" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Ver</a>
                                  <a href="#" class="btn btn-default btn-sm button-status" data-id="{{post.id}}" data-status="1"><span class="glyphicon glyphicon-folder-open"></span> Desarchivar</a>
                                {% endif %}
                                {% if (post.status == 1) %}
                                  <a href="{{ url('public_post',{'id':post.id,'title':post.title|replace({' ':'-'})}) }}" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Ver</a>      
                                  <a href="{{url('edit_post_user',{'id':post.id})}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                                    {% if (user.roles[0] == 'ROLE_AGENT') %}
                                      <a href="#" class="btn btn-default btn-sm button-status" data-id="{{post.id}}" data-status="3"><span class="glyphicon glyphicon-play"></span> Publicar</a>
                                   {% endif %}
                                {% endif %}
                                {% if (post.status == 2) %}
                                  <a href="{{url('edit_post_user',{'id':post.id})}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                                  <a href="#" class="btn btn-default btn-sm button-status" data-id="{{post.id}}" data-status="3"><span class="glyphicon glyphicon-play"></span> Reanudar</a>
                                  <a href="#" class="btn btn-default btn-sm button-status" data-id="{{post.id}}" data-status="0"><span class="glyphicon glyphicon-ban-circle"></span> Archivar</a> 
                                {% endif %}
                                {% if (post.status == 3) %}
                                  <a href="{{url('edit_post_user',{'id':post.id})}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                                  <a href="#" class="btn btn-default btn-sm button-status" data-id="{{post.id}}" data-status="2"><span class="glyphicon glyphicon-pause"></span> Pausar</a>
                                  <a href="#" class="btn btn-default btn-sm button-status" data-id="{{post.id}}" data-status="0"><span class="glyphicon glyphicon-folder-close"></span> Archivar</a> 
                                {% endif %}
                            </div>                               
                          {% endif %}
                          {% if (user.id != post.user_id and user.roles[0] == 'ROLE_AGENT') %}
                            <div class="btn-group">                                        
                              <a href="{{url('edit_post_user',{'id':post.id})}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                              <a href="#" class="btn btn-default btn-sm button-status" data-id="{{post.id}}" data-status="0"><span class="glyphicon glyphicon-folder-close"></span> Archivar</a>                                        
                            </div>
                            <div class="btn-group">
                              <span class="button-checkbox">
                                <button type="button" class="btn btn-sm" data-id="{{post.id}}" data-color="success"><span class="glyphicon glyphicon-pushpin"></span></button>
                                <input type="checkbox" name="post[]" class="hidden" value="{{post.id}}" />
                              </span>
                            </div>
                          {% endif %}                                    
                      </div>
                    </div>
                  </div>
              </li>
            {% endfor %}
            {% if (user.roles[0] == 'ROLE_AGENT') %}
              </form>
            {% endif %}
          </ul>
          {% else %}
          <div class="alert alert-danger">
            No se encontraron <strong>publicaciones</strong> de este tipo. Para crear una nueva publiciación, presione el bot&oacute;n <strong>"+ CREAR NUEVA"</strong>.
          </div>                       
          {% endif %}
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-5"> 
          {% if (hasPosts) %}                  
            {% include 'NucleusHubCmsBundle:Widget:pagination.html.twig' with {'pagination': pagination} %}
          {% endif %}
        </div>
      </div>
  </div>
    
      