<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span> Listado
        <span class="pull-right label label-info">{% if (hasPosts) %}{{pagination.count}} {% else %}0{% endif %}</span>
    </div>
    <!-- Panel Showing all the Posts -->
    <div class="panel-body">

      <!-- Actions Messages -->
      <div id="successAssign" class="alert alert-success" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>¡Asignadas exitosamente!</strong> Las publicaciónes se añadieron a su lista.
      </div>

      <div id="successStatus" class="alert alert-success" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>¡Guardado exitosamente!</strong> Se ha modificado el estado de la publicación.
      </div>

      <div id="successUnassign" class="alert alert-success" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>¡Removidas exitosamente!</strong> Las publicaciónes se removieron de su lista.
      </div>

      <div id="errorAssign" class="alert alert-danger" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>¡Ha ocurrido un error!</strong> Intente nuevamente m&aacute;s tarde.
      </div>
      <!-- Finish Actions Messages -->

      {% if hasPosts %}
        
          <li id="" class="list-group-item">            
            <div class="row">                        
              <div class="col-md-1"></div>
              <div class="col-md-2"> <h4>Dirección</h4></div>
              <div class="col-md-2" style="width: 13%;"><h4>Operación</h4></div>
              <div class="col-md-2" style="width: 11%;"> <h4>Precio</h4></div>
              <div class="col-md-1" style="width: 13%;"><h4>Superficies</h4></div>
              <div class="col-md-1" style="width: 12%;"><h4>Dorm/Baños</h4></div>
              {% if (routes[1]['title'] == 'Red Interna') %}<div class="col-md-2" style="width: 15%;"><h4>Agente</h4></div>{% endif %}
              <div class="col-md-1"><h4>Acciones</h4></div>
            </div>
        {% for post in posts %}
        
          <li id="" class="list-group-item">
            
            <div class="row">
                        
              <div class="col-md-1">
                
              </div>

              <a href="{{path('public_post',{'id':post.data.post_data.id,'title':post.data.post_data.title})}}">
                <div class="col-md-2">
                  <h5><strong>{{post.data.post.location.address|upper}}</strong></h5>
                  <h6>{{post.data.post.property.city.name}}</h6>

                </div>
              </a>

              <div class="col-md-2" style="width: 13%;">
                <h5><strong>{{post.data.post_data.category.name|upper}}</strong></h5>
                <h6>{{post.data.post_data.operation.name}}</h6>
              </div>

              <div class="col-xs-1" style="width: 13%;">
                <h5><strong>{% if post.data.post_data.currency.id == 1 %}                                        ARS
                                        {% else %}
                                        USD
                                        {% endif %}
                  {{post.data.post_data.price|number_format(0, ',', '.')}}</strong></h5>
                  <h6>{% if post.data.property.expenses != 'None' %}
                      Exp. ARS {{post.data.property.expenses|number_format(0, ',', '.')}}
                      {% endif %}</h6>
              </div>

              <div class="col-md-1" style="width: 11%;">
                <h5><strong>{{post.data.property.square_meters|number_format(0, ',', '.')}} m<sup>2</sup> Tot.</strong></h5>
                <h6>{% if post.data.property.total_covered_meters != 'None' %}{{post.data.property.total_covered_meters|number_format(0, ',', '.')}} m<sup>2</sup> Cub.{% endif %}</h6>
              </div>

              <div class="col-md-1" style="width: 12%;">
                 <h5><strong>{{post.data.property.quantityBedrooms}} Dorm/ {{post.data.property.quantityAmbiences}} Amb</strong></h5>
                <h6>{{post.data.property.quantityBathrooms}} baños</h6>

              </div>
              {% if (routes[1]['title'] == 'Red Interna') %}
              <div class="col-md-1" style="width:15%">
                {% if post.data.post_data.role == 'ROLE_COMPANY' %}
                  <span class="glyphicon glyphicon-info-sign"></span>Inmobiliaria
                
                  <h5>{{ post.data.user_profile.agency_name }} </h5>
                  <h6 class="phone_{{post.data.post_data.id}}" style="display:none">{{ post.data.user_profile.phone}}</h6>
                  <button type="button" class="btn btn-info btn-md show_phone" data-id="{{post.data.post_data.id}}"> Mostrar Telefono</button>
                  {% else %}

                  <h5>{{ post.data.agent_profile.agency_name }} </h5>
                  <h6 class="phone_{{post.data.post_data.id}}" style="display:none">{{ post.data.agent_profile.phone}}</h6>
                  <button type="button" class="btn btn-info btn-md show_phone" data-id="{{post.data.post_data.id}}"> Mostrar Telefono</button>
                  {% endif %}
                
               
              </div>
              {% endif %}

              <div class="col-md-1">

                <!-- Single button -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Acciones <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a class="show_note" data-id="{{post.data.post_data.id}}">Ver Nota</a></li>
                    {% if post.data.user.id == user.id %}
                      <li><a href="/admin/publicaciones/editar/{{post.data.post_data.id}}" >Editar</a></li>
                    {% endif %}
                    {% if post.data.post.status == 3 and post.data.post_data.role == 'ROLE_COMPANY' %}
                      <li><a href="#" class="show_agent" data-id="{{post.data.post_data.id}}">Datos Agente</a></li>
                    {% endif %}
                    {% if (routes[1]['title'] == 'De Terceros')%}
                        <li><a id="button-assign" data-id="{{post.data.post_data.id}}" href="return false;">
                        Asignar</a></li>
                    {% endif %}
                  </ul>
                </div>
            

              </div>

              <!-- NOTA -->
              <div class="col-md-12 alert alert-info note_{{post.data.post_data.id}}" role="alert" style="margin: 5px;padding:5px;width:98%;display:none;" >
                Nota: {{post.data.post_data.hidden_note}}
              </div>
              <!-- Datos de Agente -->
              <!-- Needs to be published(3) and be a Inmobilaria Post -->
              {% if post.data.post.status == 3 and post.data.post_data.role == 'ROLE_COMPANY' %}
                <div class="col-md-12 alert alert-info agent_{{post.data.post_data.id}}" role="alert" style="margin: 5px;padding:5px;width:98%;display:none;" >
                  <strong>Nombre:</strong> {{post.data.agent_profile.agency_name|capitalize}} 
                  <strong>Telefono:</strong>  {{post.data.agent_profile.phone}} 
                </div>
              {% endif %}
            </li>
          
          
        {% endfor %}
        {% if pagination.count !=1 %}                  
            {% embed 'NucleusHubCmsBundle::Widget/pagination.html.twig' %}
            {% endembed %}
        {% endif %}
      {% else %}

        <div class="alert alert-danger">
            No se encontraron <strong>publicaciones</strong> de este tipo. Para crear una nueva publiciación, presione el bot&oacute;n <strong>"+ CREAR NUEVA"</strong>.
        </div>
      {% endif %}
