<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Departamentos en venta</title>
<link href="{{ asset('/css/landing.css') }}" rel="stylesheet" media="screen">
</head>
<body>

<style>
    * {
      margin: 0; padding: 0;
    }
    
    html { 
      background: url({{asset('bundles/nucleushubcms/images/background6.jpg')}}) no-repeat fixed;
      height: 100px;
      background-color: #5ABA5C;
    }
    
      @font-face
{
   font-family: "Nexa Bold";
   src: url("Nexa Bold.otf");
}

@font-face {
   font-family: "Nexa Light";
   src: url("Nexa Light.otf");
}

</style>


<div id="contenido">

<div id="logo"><img src="{{asset('bundles/nucleushubcms/images/logo.png')}}" /></div>

<div id="cartel">
<p>ENCONTR&Aacute; TU EMPRENDIMIENTO</p>
</div>

<div id="cartel_bajada">
<p>Conoc&eacute; la mejor oferta de emprendimientos en venta
de Belgrano</p>
</div>


<div id="ingresar"><a href="http://www.propiet.com/emprendimiento/departamentos/_barrio_Belgrano%7C_ciudad_capital-federal"><p>VER >></p></a></div>
</div>



<div id="iconos">
                <ul>
                  <li style="margin-left: 30px;"><a href="http://www.propiet.com/emprendimiento/departamentos/_barrio_Belgrano%7C_ciudad_capital-federal"><img src="{{asset('bundles/nucleushubcms/images/icono1.png')}}" /></a>
                  <h6>Venta en Belgrano</h6><p>ingres&aacute; y descubr&iacute; tu nueva propiedad.</p></li>
                 
                  <li><a href="http://www.propiet.com/venta/_ciudad_capital-federal"><img src="{{asset('bundles/nucleushubcms/images/icono2.png')}}" /></a>
                  <h6>Venta en otros barrios</h6><p>tenemos departamentos en venta para vos.</p></li>
                 
                  <li><a href="http://propiet.com"><img src="{{asset('bundles/nucleushubcms/images/icono3.png')}}" /></a>
                  <h6>Todas las propiedades</h6><p>busc&aacute; la propiedad que necesitas, tenemos lo que necesitas.</p></li>
                
                </ul>
              </div>
              

</div>

</body>
</html>
