<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Emprendimientos en venta</title>
<link href="{{ asset('/css/landing.css') }}" rel="stylesheet" media="screen">
</head>
<body>

<style>
    * {
      margin: 0; padding: 0;
    }
    
    html { 
      background: url({{asset('bundles/nucleushubcms/images/background1.jpg')}}) no-repeat fixed;
      height: 100px;
      background-color: #DD792F;
    }
    
      @font-face
{
   font-family: "Nexa Bold";
   src: url("Nexa Bold.otf");
}

@font-face {
   font-family: "Nexa Light";
   src: url("Nexa Light.otf");
}

.mbottom30{
  margin-bottom: 30px;
}
</style>


<div  class="mbottom30" id="contenido">

<div id="logo"><img src="{{asset('bundles/nucleushubcms/images/logo.png')}}" /></div>

<div id="cartel">
<p>ENCONTR&Aacute; TU EMPRENDIMIENTO</p>
</div>

<div id="cartel_bajada">
<p>Conoc&eacute; la mejor oferta en venta
de Buenos Aires</p>
</div>


<div id="ingresar"><a href="http://www.propiet.com/casas/_ciudad_capital-federal"><p>VER >></p></a></div>
</div>



<div id="iconos">
                <ul>
                  <li><a href="http://www.propiet.com/venta/_ciudad_capital-federal"><img src="{{asset('bundles/nucleushubcms/images/icono2.png')}}" /></a>
                  <h6>Alquiler en otros barrios</h6><p>tenemos casas en venta<br />para vos.</p></li>
                 
                  <li><a href="http://propiet.com"><img src="{{asset('bundles/nucleushubcms/images/icono3.png')}}" /></a>
                  <h6>Todas las propiedades</h6><p>busc&aacute; la propiedad que necesitas, tenemos lo que buscas.</p></li>
                
                </ul>
              </div>
              

</div>

</body>
</html>